<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yullmaster.cleanArea.reservation.dao.ReservationDAO">
	<insert id="inserReservation" parameterType="com.yullmaster.cleanArea.reservation.model.Reservation">
		INSERT INTO `reservation`
		(
			`userId`
			, `address`
			, `cleanType`
			, `date`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{address}
			, #{cleanType}
			, #{dateTime}
			, now()
			, now()
		)
	</insert>
	
	<insert id="insertUser" parameterType="com.yullmaster.cleanArea.reservation.model.User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `user`
		(	
			`name`
			, `phoneNumber`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{name}
			, #{phoneNumber}
			, now()
			, now()
		)
	</insert>
	
	<select id="selectUser" parameterType="map" resultType="com.yullmaster.cleanArea.reservation.model.User">
		SELECT
			`id`
			, `name`
			, `phoneNumber`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`name` = #{name}
			AND	`phoneNumber` = #{phoneNumber}
	</select>
</mapper>